<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Node Newspaper</title>
    </head>
    <body>
        <h1>Welcome to Newspaper</h1>
        <h3>A new Node.js blog</h3>
    </body>
</html>