<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title><%= post[0].title %></title>
    </head>
    <body>
        <h1><%= post[0].title %></h1>
        <p><%= post[0].content %></p>
    </body>
</html>